@model Blog40.ViewModels.PostEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(x => x.Post.Title);
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Post.Title)
    </div>

    <div class="editor-label">
        @Html.LabelFor(x => x.Post.Content)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(x => x.Post.Content)
    </div>

    <div class="editor-label">
        @Html.LabelFor(x => x.Authors)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.Post.Author.AuthorId, new SelectList(Model.Authors,"AuthorId","DisplayName"))
    </div>

    <div class="editor-label">
        @Html.LabelFor(x => x.Categories)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.Post.Category.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"))
    </div>
    <input type="hidden" name="Post.PostId" value="@Model.Post.PostId" />
        <p>
            <input type="submit" value="Save" />
            @Html.HttpMethodOverride(HttpVerbs.Put)
        </p>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
